@import "vars";

  html, body {
    margin: 0;
    height: 100%;
  }
  
  body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
  }
  
  .card {
    border-left: 0;
        border-right: 0;
        border-top: 0;
    border-bottom: 1px solid #6c757d;
  
    &-shadow{
      box-shadow: -1px 1px 10px 5px rgba(0,0,0,0.29);
    }
  
    &-header {
      padding: 2.1rem 2rem 2rem 2rem;
      margin-bottom: 2.8rem;
    }
  
    > .list-group {
    
      .list-group-item {
        margin-bottom: 1px;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-bottom: 1px solid #e0e0e0;
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
  
  .btn--transForm{
    position: absolute;
    right: 60px;
    bottom: 0;
    transform: translateY(50%);
    height: 56px;
    width: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    bottom: 0;
  }

.material-icons {
  font-size: 20px;
  cursor: pointer;
  color: $secondary;
}

.form {
  &-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: $primary;
    border-radius: 0;
  }
}

@media (min-width: 990px) {
  .timeFormatted {
    right: 20px;
  }

  .added{
    height: 25px;
    width: 40px;
  }
}